In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [3]:
df = pd.read_csv("C:/Users/nanda/OneDrive/Desktop/Mini Project/CO2 Emission.csv")

In [4]:
df.head()

,country,year,co2,coal_co2,cement_co2,gas_co2,oil_co2,methane,population,gdp,primary_energy_consumption
0,Afghanistan,1991,2.427,0.249,0.046,0.388,1.718,9.07,13299016.0,1.204736e+10,13.651
1,Afghanistan,1992,1.379,0.022,0.046,0.363,0.927,9.00,14485543.0,1.267754e+10,8.961
2,Afghanistan,1993,1.333,0.018,0.047,0.352,0.894,8.90,15816601.0,9.834581e+09,8.935
3,Afghanistan,1994,1.282,0.015,0.047,0.338,0.860,8.97,17075728.0,7.919857e+09,8.617
4,Afghanistan,1995,1.230,0.015,0.047,0.322,0.824,9.15,18110662.0,1.230753e+10,7.246

In [5]:
df.tail()

,country,year,co2,coal_co2,cement_co2,gas_co2,oil_co2,methane,population,gdp,primary_energy_consumption
6586,Zimbabwe,2016,10.738,6.959,0.639,3.139,3.139,11.92,14030338.0,2.096179e+10,4.750000e+01
6587,Zimbabwe,2017,9.582,5.665,0.678,3.239,3.239,14236599.00,14236599.0,2.194784e+10,2.194784e+10
6588,Zimbabwe,2018,11.854,7.101,0.697,4.056,4.056,14438812.00,14438812.0,2.271535e+10,2.271535e+10
6589,Zimbabwe,2019,10.949,6.020,0.697,4.232,4.232,14645473.00,14645473.0,1.464547e+07,1.464547e+07
6590,Zimbabwe,2020,10.531,6.257,0.697,3.576,3.576,14862927.00,14862927.0,1.486293e+07,1.486293e+07

In [6]:
#checking the NULL Values
df.isnull().sum()

country                       0
year                          0
co2                           0
coal_co2                      0
cement_co2                    0
gas_co2                       0
oil_co2                       0
methane                       0
population                    0
gdp                           0
primary_energy_consumption    0
dtype: int64